In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
track_lines = pd.read_csv('data/track_lines.csv')

In [4]:
tracks = pd.read_csv('data/tracks.csv')

In [11]:
cities = pd.read_csv('data/cities.csv')

In [6]:
lines = pd.read_csv('data/lines.csv')

In [7]:
stations = pd.read_csv('data/stations.csv')

In [8]:
station_lines = pd.read_csv('data/station_lines.csv')

In [9]:
systems = pd.read_csv('data/systems.csv')

In [14]:
cities[cities['name'] == 'Boston']

,id,name,coords,start_year,url_name,country,country_state
184,139,Boston,POINT(-71.08333333 42.35),1806.0,boston,United States,Mass.

In [37]:
tracks_boston = tracks[tracks['city_id'] == 139].copy()

In [31]:
lines_boston = lines[lines['city_id']==139].copy()

In [32]:
station_l_boston = station_lines[station_lines['city_id'] ==139].copy()

In [33]:
systems_boston = systems[systems['city_id'] == 139].copy()

In [34]:
stations_boston = stations[stations['city_id'] == 139].copy()

In [42]:
lines_boston

,id,city_id,name,url_name,color,system_id,transport_mode_id
1047,1133,139,Green Line/A,1133-a,#008150,110,9.0
1074,1128,139,Orange Line,1128-orange-line,#fd8a03,110,4.0
1075,1129,139,Blue Line,1129-blue-line,#2f5da6,110,4.0
1077,1130,139,Red Line,1130-red-line,#fa2d27,110,4.0
1078,1132,139,Hyannis,1132-hyannis,#78bc42,423,3.0
1079,1131,139,Mattapan Line,1131-mattapan-line,#fa2d27,110,5.0
1081,1134,139,Green Line/B,1134-b,#008150,110,5.0
1115,1136,139,Green Line/D,1136-d,#008150,110,5.0
1277,1372,139,Highland Branch,1372-highland-branch,#000000,502,3.0
1278,1135,139,Green Line/C,1135-c,#008150,110,5.0
1279,1420,139,Fairmount Line,1420-fairmount-line,#bd10e0,422,3.0
1283,1409,139,Atlantic Avenue Line,1409-atlantic-avenue-line,#fd8a03,535,4.0
1284,1410,139,Main Line,1410-main-line,#000,502,3.0
1285,1411,139,Framingham/Worcester Line,1411-framingham-worcester-line,#bd10e0,422,3.0
1286,1373,139,Green Line,1373-green-line-(subway),#008150,110,4.0
1288,1413,139,Fitchburg Line,1413-fitchburg-line,#bd10e0,422,3.0
1289,1414,139,Main Line,1414-needham-line,#000,538,3.0
1290,1421,139,Franklin Line,1421-franklin-line,#bd10e0,422,3.0
1292,1415,139,Needham Branch,1415-dedham-branch,#000,538,3.0
1293,1417,139,Charles River Branch,1417-charles-river-branch,#000,538,3.0
1294,1418,139,Stoughton Branch,1418-stoughton-branch,#000,538,3.0
1295,1422,139,Needham Line,1422-needham-line,#bd10e0,422,3.0
1296,1423,139,Providence/Stoughton Line,1423-providence-stoughton-line,#bd10e0,422,NaN
1299,1419,139,Midland Line,1419-midland-division,#000,538,3.0
1321,1451,139,Lowell Line,1451-lowell-line,#000,539,3.0
1322,1425,139,Fitchburg Line,1425-fitchburg-line,#000000,539,3.0
1327,1137,139,Green Line/E,1137-e,#008150,110,5.0

In [43]:
lines_with_system = lines_boston.merge(systems_boston,left_on='system_id', right_on='id')

In [44]:
lines_with_system.head()

,id_x,city_id_x,name_x,url_name,color,system_id,transport_mode_id,id_y,city_id_y,name_y
0,1133,139,Green Line/A,1133-a,#008150,110,9.0,110,139,MBTA Subway
1,1128,139,Orange Line,1128-orange-line,#fd8a03,110,4.0,110,139,MBTA Subway
2,1129,139,Blue Line,1129-blue-line,#2f5da6,110,4.0,110,139,MBTA Subway
3,1130,139,Red Line,1130-red-line,#fa2d27,110,4.0,110,139,MBTA Subway
4,1131,139,Mattapan Line,1131-mattapan-line,#fa2d27,110,5.0,110,139,MBTA Subway

In [46]:
lines_with_system.drop(['id_y','city_id_y'],inplace=True,axis=1)

In [47]:
lines_with_system.head()

,id_x,city_id_x,name_x,url_name,color,system_id,transport_mode_id,name_y
0,1133,139,Green Line/A,1133-a,#008150,110,9.0,MBTA Subway
1,1128,139,Orange Line,1128-orange-line,#fd8a03,110,4.0,MBTA Subway
2,1129,139,Blue Line,1129-blue-line,#2f5da6,110,4.0,MBTA Subway
3,1130,139,Red Line,1130-red-line,#fa2d27,110,4.0,MBTA Subway
4,1131,139,Mattapan Line,1131-mattapan-line,#fa2d27,110,5.0,MBTA Subway

In [48]:
tracks_boston.head()

,id,geometry,buildstart,opening,closure,length,city_id
131,8971,"LINESTRING(-71.1055106 42.3464858,-71.10523556...",1888.0,1888.0,1932.0,757,139
1981,8973,"LINESTRING(-71.0645245542104 42.3526597738119,...",1895.0,1897.0,999999.0,451,139
1986,8974,"LINESTRING(-71.0896405453459 42.3508100910057,...",1889.0,1889.0,1914.0,330,139
4653,8979,"LINESTRING(-71.0622649133985 42.3563093900915,...",1898.0,1898.0,999999.0,409,139
4704,8982,"LINESTRING(-71.0595494162015 42.3593691538885,...",1898.0,1898.0,1963.0,553,139

In [49]:
stations_boston.head()

,id,name,geometry,buildstart,opening,closure,city_id
9591,14863,Downtown Crossing,POINT(-71.0605452422338 42.3554836649652),1908.0,1908.0,999999.0,139
9592,14764,Babcock Street,POINT(-71.1213762847357 42.3518233645798),1896.0,1896.0,1969.0,139
9593,14765,Pleasant Street,POINT(-71.1186188728083 42.3514860313666),1896.0,1896.0,1969.0,139
9594,14766,St. Paul Street,POINT(-71.1159104312993 42.3511559514473),1896.0,1896.0,1969.0,139
9682,14835,Longwood Medical Area,POINT(-71.1001883183056 42.3358785653442),1883.0,1883.0,999999.0,139